doctype html
html(lang="en")
  head
    title= title
    script(src="/components/lodash/lodash.min.js", type="text/javascript")
    script(src="/app/js/app.pack.js", type="text/javascript")
    link(href="/app/css/layout.css", media="all", rel="stylesheet")

  body
    #app
      h1= title
      div
        div
          span Currency: &nbsp;
          select(v-model="currency")
            option(value="EUR") EUR
            option(value="USD") USD
            option(value="CZK") CZK
            option(value="CNY") CNY
      div
        router-view
