img(style="float:left; margin-right: 10px;", src="{{ item.img }}")
h2 {{ item.name }}

#variants(ng-if="item.variants")
  h3 Variants
  .variant(v-repeat="variant in item.variants")
    div {{ variant.name }}
    img(src="{{ variant.img || item.img }}")

div
  h3 Prices
  table
    tr
      th(colspan="2") Supplier
      th Price
    tr(v-repeat="price in item.prices")
      td(style="width: 100px; text-align: center;"): img(src="/app/img/suppliers/{{ price.supplier }}.png", alt="{{ item.suppliers[price.supplier].name }}", style="max-width: 100px; max-height: 30px;")
      td {{ item.suppliers[price.supplier].name }}
      td {{ price.price }} {{ price.currency }}

  div Last updated: {{ item.prices_updated }}

a(v-link="/", style="margin-top: 100px;") All products
